/* GENERAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* *DEBUG */

.deb{
    border: 4px dotted black;
}    
.deb1{
    border: 2px dotted rgb(255, 0, 0);
}    
.deb3{
    border: 2px dotted rgb(255, 255, 255);
}    

/* *SPECIAL SELECTORS */

:root{

    /* colors */
    --color1:#3161e0;   /* bg header */
    --color2:#3161e0;   /* logo bar bg color */
    --color3:#00008b;
    --color4:#ee82ee;
    --color5:#1e90ff;
    --color6:#ffc0cb;
    --color7:#d3d3d3;
    --color8:#228b22;
    --color9:#23272a;
    --color10:#f08080;
    --color11:#20b2aa;
    --color12:#ffb6c1;
    --color13:#7fffd4;
    --nav-t-col:#ffffff;
    --btn-t-col:#000000;
    --btn-dk:#23272a;
    --btn-spec:#8ea1e1;
    
    /* spacing */

    --height1:40px;
    --height2:80px;
    --height3:700px;
    --height4:400px;
    --height5:600px; /* 2col layout height */
    --height6:900px;
    
    --width1:750px; /* jumbotron contenent width */
    
    --x-padding1:10px ; /* navbar li spacing */

    --y-padding1:20px;
    --y-padding2:40px;
    --y-padding3:5px;
}
nav{
    text-align: center;
}

footer{
    background-color: var(--color9);
}
h3{
    font-size: 2rem;
}

/* *UTILITIES */

.container{
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.w60{
    width: 60%;
}
.w20{
    width: 20%;
}
.w25{
    width: 25%;
}
.w50{
    width: 50%;
}
.w30{
    width: 30%;
}
.w70{
    width: 70%;
}
.w40{
    width: 40% ;
}
.w100{
    width: 100% ;
}

.h100{
    height: 100%;
}

.flex{
    display: flex;
}

.gap{
    gap: 3rem;
}

.xy-switch{
    flex-direction: column;
}
.between{
    justify-content: space-between;
}
.around{
    justify-content: space-around;
}

.x-center{
    justify-content: center;
}

.y-center{
    align-items: center;
}

.center-bottom{
    align-items:end;
}

.t-align{
    text-align: center;
}

.height-1{
    height: var(--height1);
}
.height-2{
    height: var(--height2);
}
.height-3{
    height: var(--height3);
}
.height-4{
    height: var(--height4);
}
.height-5{
    height: var(--height5);
}
.height-6{
    height: var(--height6);
}

.width-1{
    width: var(--width1);
}

.bg1{
    background: var(--color1);
}
.bg2{
    background: var(--color2);
}
.bg3{
    background: var(--color3);
}
.bg4{
    background: var(--color4);
}
.bg5{
    background: var(--color5);
}
.bg6{
    background: var(--color6);
}
.bg7{
    background: var(--color7);
}
.bg8{
    background: var(--color8);
}
.bg9{
    background: var(--color9);
}
.bg10{
    background: var(--color10);
}
.bg11{
    background: var(--color11);
}
.bg12{
    background: var(--color12);
}
.bg13{
    background: var(--color13);
}

.y-pad1{
    padding: var(--y-padding1) 0 ;
}
.y-pad2{
    padding: var(--y-padding2) 0 ;
}

.y-pad3{
    padding: var(--y-padding1) 0 var(--y-padding2) 0;
}
.spacing{
    margin: var(--y-padding2) auto 0 auto;
}

.btn{
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    font-weight: 600;
    font-size: 1.3rem;
    border: none;
}

.wh{
    color:var(--btn-t-col);
    background-color: var(--nav-t-col);
}
.dk{
    color:var(--nav-t-col);
    background-color: var(--btn-dk);
}

.spec{
    color:var(--nav-t-col);
    background-color: var(--btn-spec);
    
}

.small{
    font-size: 1rem;
    padding: .5rem 1rem;
    
}


/* *SPECIFIC */

nav>ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}

nav li{
    display: inline;
    padding: 0 var(--x-padding1);
}

nav li>a{
    color: var(--nav-t-col);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.3rem;
}

.jumbotext{
    color: var(--nav-t-col);
    text-align: center;
    padding: 1rem;
}
.jumbotext>*{
    margin-top: 2rem;
    
}
.jumbotext>h1{
    margin: 3rem 0;
    font-size: 3.3rem;
}

.jumbotext:nth-child(1){
    font-size: 1.2rem;
    line-height: 1.7em;
    font-weight: 600;
}

.btn-cont{
    padding: 0 3rem;
}

main>div:nth-of-type(even){
    background: var(--color7);
}
.rev{
    flex-direction: row-reverse;
}

.under-border{
    border-bottom:2px solid var(--color7) ;
}

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: var(--height5);
}

main h2{
    color: var(--btn-t-col);
    font-size: 3rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

main p{
    font-size: 1.5rem;
}

.star{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:top;
    height: 5rem
}

.links{
    color: var(--nav-t-col);
    font-size: 1.5rem;
    
}

.lang-flag{
    width: 2rem
}

.links h3,
.links h4{
    color: var(--btn-spec);
    

}